/android.apk.build.sh
/android.apk.import.scm
/android.apk.import.so
/android.apk.install.sh
/android.apk.link
/android.apk.so
/android.apk.static.o
/tests/test-5926f235c0f0c4493cc48c82a6a73f4bcd2940bf.zip
